:root {
  --ion-color-primary: #F59245;
  --ion-color-primary-rgb: 245, 146, 69;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #d8823d;
  --ion-color-primary-tint: #f69d58;

  --ion-toolbar-background: #F59245;
  --ion-background-color: #F5F5F7;
  --ion-text-color: #12384b;
}
